:root {
  --colour1: #77b0d6;
  --colour2: #272c64;
  --colour3: #8f939b;
  --tamano-texto: 16px;
  --margen-base: 8px;
}

body{

    margin: 0;    
}
header{
    background-color:var(--colour2);
    height: 100px;
}

main{
    background-color: var(--colour1);
    height: 400px;
}

footer{
    background-color: var(--colour2);
    height: 200px;
}

h1{
    margin-top: 0;
}

nav{
    display: flex;
    gap:35px;
    background-color: var(--colour3);
    padding: 10px;
}

a{
    color: white;
    text-decoration: none;
}